# ignore ALL files in ANY directory named:
venv/
temp/
data/samples
data/saved*
data/videosamples

.vscode/
__pycache__
/data/saved
/snapshots

# ignore ALL .log files
*.log

# ignore some testfiles
test.py